<div class="main-content">
    <div class="container-fluid mt-5">
      <div class="row">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">contacts</i>
              </div>
              <h4 class="card-title">Modifier Profil</h4>
            </div>
            <div class="card-body ">
              <div class="row">
                <div class="col-md-4">
                  <ul class="nav nav-pills nav-pills-info flex-column" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#link4" role="tablist">
                        Mes informations personnelles
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#link5" role="tablist">
                        Mon mot de passe
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-8">
                  <div class="tab-content">
                    <div class="tab-pane active" id="link4">
                      <form [formGroup]="formGroupInfoPerso" (submit)="ModifierInfoPerso()" >
                        <div class="row">
                          <div class="col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Addresse E-mail" type="email" formControlName="email" >
                            </mat-form-field>
                           
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Site" type="text" formControlName="site" >
                            </mat-form-field>
    
                          <!--  <div class="form-text text-danger" *ngIf="(Email.touched || Email.dirty) && Email.errors?.['required'] ">
                              Ce champ est obligatoire
                              </div>
                            <div class="form-text text-danger" *ngIf="(Email.touched || Email.dirty) && Email.errors?.['email'] ">
                             L'Email est invalide
                              </div>-->
                              </div>
                              
                                <div class="col-md-6 col-sm-6">
                                  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail">
                                      <img src={{urlImage}} alt="..." style="height: 100px; width: auto;">
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                    <div>
                                      <span class="btn btn-info btn-round btn-file">
                                        <span class="fileinput-new">Choisir une photo</span>
                                        <span class="fileinput-exists ">Changer</span>
                                        <input (change)="onFileChange($event)"  type="file" name="..." formControlName="image" />
                                      </span>
                                      <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i
                                          class="fa fa-times"></i> Supprimer</a>
                                    </div>
                                  </div>
                                </div> 
                          </div>
                        <div class="row" >
                          <button style="margin-right:20px ;margin-left: auto;" mat-raised-button type="submit" class="btn btn-fill btn-danger">Modifier</button>
                        </div>
                      </form>
                    </div>

                    <div class="tab-pane" id="link5">
                      <form [formGroup]="formGroupPassword" (submit)="ModifierPassword()">
                      <div class="row">
                        <div class="col-md-6 col-sm-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Ancien Mot de passe" type="password" formControlName="AncienPassword">
                          </mat-form-field>
                          <div class="form-text text-danger" *ngIf="(AncienPassword.touched || AncienPassword.dirty) && hash== 'true'">
                            Mot de passe incorrect
                              </div>
                          </div>
                          </div>
                      <div class="row">
                        <div class="col-md-6 col-sm-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Nouveau Mot de passe" type="password" formControlName="password">
                          </mat-form-field>
                       <!-- <div class="form-text text-danger" *ngIf="(password.touched || password.dirty) && password.errors?.['required'] ">
                            Ce champ est obligatoire
                             </div>-->  
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Confirmer le nouveau Mot de passe" type="password" formControlName="Vpassword">
                          </mat-form-field>
                          <!--<div class="form-text text-danger" *ngIf="(Vpassword.touched || Vpassword.dirty) && Vpassword.errors?.['required'] ">
                            Ce champ est obligatoire
                             </div>-->
                             <div class="form-text text-danger" *ngIf="(Vpassword.touched || Vpassword.dirty) && Cpass== 'true'">
                             Ce champ n'est pas identique avec le nouveau Mot de passe 
                               </div>
                        </div>
                      </div>
                      <div class="row" >
                        <button style="margin-right:20px ;margin-left: auto;" mat-raised-button type="submit" class="btn btn-fill btn-danger">Modifier</button>
                      </div>
                    </form> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
   