<div class="wrapper wrapper-page">
  <div class="page-header register-page header-filter" filter-color="black"
    style="background-image: url('./assets/img/login-background.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <div class="card card-signup" style="display:inline-block ;opacity:0.90">
            <div class="col-md-5 mr-auto ml-5 " style="float: left;">
              <div fxFlex="login" fxFlexAlign="center">
                <img src=".\assets\img\Bouygues-logo.png" alt="bouygues-logo" width="300" height="100">
                <div class="text-center" width="100" height="70">
                  <a href="https://www.bouyguestelecom.fr/" style="color: #4AB7F9;">
                    <span>
                      <p style="font-family: Arial ; font-size: 20px; ">
                        On est fait
                        pour
                        être ensemble.
                        Communiquer en toute liberté!</p>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-5 ml-auto mr-5 " id="login">
              <form class="form" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
                <div class="form-group has-default">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">mail</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email..." formControlName="username">
                  </div>
                </div>
                <div class="form-group has-default">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" placeholder="Password..." class="form-control" formControlName="password">
                  </div>
                </div>
                <mat-checkbox class="form-check">
                  Se souvenir de moi !
                </mat-checkbox>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-round mt-4"
                    style="background-color: #4AB7F9;">S'identifier</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer ">
</footer>