<div class="logo">
    <a class="simple-text logo-mini">
        <div class="logo-img">
            <img src="\assets\img\Bouygues-logo-minim.png" />
        </div>
    </a>
    <a href="https://www.bouyguestelecom.fr/" class="simple-text logo-normal">
        Bouygues Telecom
    </a>
</div>


<div class="sidebar-wrapper">

    <div class="user">
        <div class="photo">
            <img src={{urlImage}} />
        </div>
        <div class="user-info">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                <span>
                    {{nom}}
                    <p class="center" style="color:gray ;;"> Collaborateur</p>
                    <b class="caret"></b>
                </span>
            </a>
            <div class="collapse" id="collapseExample">
                <ul class="nav">
                    <li class="nav-item">
                        <a [routerLink]="'profil'" class="nav-link">
                            <span class="sidebar-mini">P</span>
                            <span class="sidebar-normal">Mon Profil</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="'ModifierProfil'" class="nav-link">
                            <span class="sidebar-mini">MP</span>
                            <span class="sidebar-normal">Modifier Profil</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuitem of menuItems" class="nav-item">
            <!--If is a single link-->
            <a [routerLink]="[menuitem.path]" class="nav-link">
                <i class="material-icons">{{menuitem.icontype}}</i>
                <p>{{menuitem.title}}</p>
            </a>
        </li>
    </ul>

</div>