<div class="main-content">
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">contacts</i>
            </div>
            <h4 class="card-title">Ajouter un nouveau code projet</h4>
          </div>
          <div class="card-body ">
            <form [formGroup]="formGroup" (submit)="AjoutProcess()">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Code projet" type="text" formControlName="libelle">
                  </mat-form-field>
                  <div class="form-text text-danger"
                    *ngIf="(libelle.touched || libelle.dirty )&& libelle.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Description" type="text" formControlName="description">
                  </mat-form-field>
                  <div class="form-text text-danger"
                    *ngIf="(description.touched || description.dirty )&& description.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 col-sm-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Budget NRJ" type="text" formControlName="budgetNRJ">
                  </mat-form-field>
                  <div class="form-text text-danger"
                    *ngIf="(budgetNRJ.touched || budgetNRJ.dirty )&& budgetNRJ.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Budget DECO" type="text" formControlName="budgetDECO">
                  </mat-form-field>
                  <div class="form-text text-danger"
                    *ngIf="(budgetDECO.touched || budgetDECO.dirty )&& budgetDECO.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Budget CLOE" type="text" formControlName="budgetCLOE">
                  </mat-form-field>
                  <div class="form-text text-danger"
                    *ngIf="(budgetCLOE.touched || budgetCLOE.dirty )&& budgetCLOE.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Budget en Euro" type="text" formControlName="budget">
                  </mat-form-field>
                  <div class="form-text text-danger"
                    *ngIf="(budget.touched || budget.dirty )&& budget.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Charges" type="text" formControlName="charge">
                  </mat-form-field>
                  <div class="form-text text-danger"
                    *ngIf="(charge.touched || charge.dirty )&& charge.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 col-sm-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Charges NRJ" type="text" formControlName="chargeNRJ">
                  </mat-form-field>
                  <div class="form-text text-danger"
                    *ngIf="(chargeNRJ.touched || chargeNRJ.dirty )&& chargeNRJ.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Charges DECO" type="text" formControlName="chargeDECO">
                  </mat-form-field>
                  <div class="form-text text-danger"
                    *ngIf="(chargeDECO.touched || chargeDECO.dirty )&& chargeDECO.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Charges CLOE" type="text" formControlName="chargeCLOE">
                  </mat-form-field>
                  <div class="form-text text-danger"
                    *ngIf="(chargeCLOE.touched || chargeCLOE.dirty )&& chargeCLOE.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Date de début" (click)="picker.open()"
                      formControlName="dateDebut">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <div class="form-text text-danger"
                    *ngIf="(dateDebut.touched || dateDebut.dirty )&& dateDebut.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker2" placeholder="Date de fin" (click)="picker2.open()"
                      formControlName="dateFin">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                  <div class="form-text text-danger"
                    *ngIf="(dateFin.touched || dateFin.dirty )&& dateFin.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>
                </div>
              </div>
              <div class="togglebutton">
                <label>
                  <input type="checkbox" formControlName="statut">
                  <span class="toggle"></span>
                  Statut
                </label>
                <div class="form-text text-danger"
                  *ngIf="(statut.touched || statut.dirty )&& statut.errors?.['required'] ">
                  Ce champ est obligatoire
                </div>
              </div>
              <div class="card-footer ">
                <button mat-raised-button type="submit" class="btn btn-fill btn-danger">Ajouter</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>