<div class="main-content">
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">contacts</i>
            </div>
            <h4 class="card-title">Ajouter un nouveau collaborateur</h4>
          </div>
          <div class="card-body ">
            <form [formGroup]="formGroup" (submit)="AjoutProcess()">
              <div class="row">
                <div class="col-md-6 col-sm-6" style="margin-top: 50px">
                  <label style="font-size: large; color: rgb(22, 19, 19);">Rôle</label>
                  <br>
                  <mat-radio-group formControlName="roles">
                    <mat-radio-button value="1">Collaborateur</mat-radio-button>
                    <br>
                    <mat-radio-button value="2">Administrateur</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-new thumbnail">
                      <img src="./assets/img/image_placeholder.jpg" alt="..." style="height: 100px; width: auto;">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                    <div>
                      <span class="btn btn-info btn-round btn-file">
                        <span class="fileinput-new">Choisir une photo</span>
                        <span class="fileinput-exists ">Changer</span>
                        <input (change)="onFileChange($event)" type="file" name="..." formControlName="image" />
                      </span>
                      <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i
                          class="fa fa-times"></i> Supprimer</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nom" type="text" formControlName="nom">
                  </mat-form-field>
                  <div class="form-text text-danger" *ngIf="(Nom.touched || Nom.dirty )&& Nom.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>

                </div>
                <div class="col-md-6 col-sm-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Addresse E-mail" type="email" formControlName="email">
                  </mat-form-field>
                  <div class="form-text text-danger"
                    *ngIf="(Email.touched || Email.dirty) && Email.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>
                  <div class="form-text text-danger" *ngIf="(Email.touched || Email.dirty) && Email.errors?.['email'] ">
                    L'Email est invalide
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Code CAPIT" type="text" formControlName="codecapit">
                  </mat-form-field>
                  <div class="form-text text-danger"
                    *ngIf="(codecapit.touched || codecapit.dirty) && codecapit.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Site" type="text" formControlName="site">
                  </mat-form-field>
                  <div class="form-text text-danger" *ngIf="(site.touched || site.dirty) && site.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="CJM" type="text" formControlName="cjm">
                  </mat-form-field>
                  <div class="form-text text-danger" *ngIf="(cjm.touched || cjm.dirty) && cjm.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <mat-form-field>
                    <mat-select placeholder="Département" name="departement" [formControlName]="'projet_id'">
                      <mat-option *ngFor="let projet of projets" [value]="projet.node.id">
                        {{ projet.node.libelle }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="form-text text-danger"
                    *ngIf="(projet_id.touched || projet_id.dirty) && projet_id.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <mat-form-field>
                    <mat-select placeholder="Poste" name="poste" formControlName="poste">
                      <mat-option *ngFor="let Poste of Postes" [value]="Poste.value">
                        {{ Poste.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="form-text text-danger"
                    *ngIf="(poste.touched || poste.dirty) && poste.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mot de passe" type="password" formControlName="password">
                  </mat-form-field>
                  <div class="form-text text-danger"
                    *ngIf="(password.touched || password.dirty) && password.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Confirmer Mot de passe" type="password" formControlName="Vpassword">
                  </mat-form-field>
                  <div class="form-text text-danger"
                    *ngIf="(Vpassword.touched || Vpassword.dirty) && Vpassword.errors?.['required'] ">
                    Ce champ est obligatoire
                  </div>
                  <div class="form-text text-danger" *ngIf="(Vpassword.touched || Vpassword.dirty) && Cpass== 'true'">
                    Ce champ n'est pas identique avec Mot de passe
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <button mat-raised-button type="submit" class="btn btn-fill btn-info">Ajouter</button>
              </div>
            </form>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>