<div class="main-content">
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <a type="submit" (click)="AjouterCodeProjet()"><i class="material-icons">add</i></a>
            </div>
            <h4 class="card-title">Codes projets</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="datatables" class="table " style="width:100%">
                <thead>
                  <tr>
                    <th class="text-center">{{ tableData1.headerRow[0] }}</th>
                    <th>{{ tableData1.headerRow[1] }}</th>
                    <th>{{ tableData1.headerRow[2] }}</th>
                    <th>{{ tableData1.headerRow[3] }}</th>
                    <th>{{ tableData1.headerRow[4] }}</th>
                    <th> {{ tableData1.headerRow[5] }}</th>
                    <th class="text-right">{{ tableData1.headerRow[6] }}</th>
                    <th class="disabled-sorting text-right">{{ tableData1.headerRow[7] }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let c of codes">
                    <td class="text-center">{{c.node.libelle}}</td>
                    <td>{{c.node.description}}</td>
                    <td>
                      <div *ngIf="c.node.statut == true">
                        <span class="badge badge-success">Terminé</span>
                      </div>
                      <div *ngIf="c.node.statut == false">
                        <span class="badge badge-warning">En cours</span>
                      </div>
                    </td>
                    <td> {{c.node.budget}}€
                      <div>
                        <span class="badge badge-info">{{getBudgetConsom(c.node)}} € consommés</span>

                      </div>
                    </td>
                    <td> {{c.node.charge}}
                      <div>
                        <span class="badge badge-info">{{c.node.chargeNRJconsomme}}  consommés</span>
                      </div>
                    </td>
                    <td>
                      Du {{ c.node.dateDebut | date: 'dd/MM/yyyy'}} au {{ c.node.dateFin | date: 'dd/MM/yyyy'}}
                      <div class="progress progress-line-primary">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60"
                          aria-valuemin="0" aria-valuemax="100" style="width: {{ getPecComplete(c.node)}}%">
                        </div>
                      </div>
                    
                      {{getDiffDays(c.node.dateFin) }} jours
                      restants
                    </td>
                    <td class="td-actions text-right">{{c.node.taches.edges.length}}
                      <mat-select style="width: 35px; ">
                        <mat-option *ngFor="let t of c.node.taches.edges" value="{{ t.node.id }}">
                          {{t.node.libelle}}
                        </mat-option>
                      </mat-select>
                    </td>
                    <td class="td-actions text-right">
                      <button mat-raised-button type="button" class="btn btn-success btn-round"
                        [routerLink]="['update-code-projet']" [queryParams]="{ id: c.node.id }">
                        <i class="material-icons">edit</i>
                      </button>
                      <button mat-raised-button type="button" class="btn btn-danger btn-round delete">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>