<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mr-auto">
                <div class="card mt-5">
                    <form class="mr-5 ml-5" [formGroup]="ImputSearhForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class=" col-md-4 ">
                                <mat-form-field>
                                    <mat-select placeholder="Collaborateur..." formControlName="collab"
                                        *ngIf="admin; else elseTemplate">
                                        <mat-option *ngFor="let colab of collab" [value]="colab.node.id">
                                            {{ colab.node.nom }}
                                        </mat-option>
                                    </mat-select>
                                    <ng-template #elseTemplate>
                                        <input matInput placeholder="Collaborateur..." formControlName="collab"
                                            [(ngModel)]="nom" type="text" readonly>
                                    </ng-template>
                                </mat-form-field>
                            </div>
                            <div class=" col-md-4 ">
                                <mat-form-field>
                                    <mat-label>Choisir une semaine</mat-label>
                                    <mat-date-range-input [rangePicker]="picker" [dateFilter]="myFilter">
                                        <input matStartDate placeholder="lundi" formControlName="start">
                                        <input matEndDate placeholder="Vendredi" formControlName="end">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2 ">
                                <button class="btn btn-info btn-round " type="submit"
                                    (click)="Rechercher()">Rechercher</button>

                            </div>
                            <div class="col-md-2 dropup" *ngIf="admin">
                                <button mat-raised-button href="#pablo"
                                    class="dropdown-toggle btn btn-info btn-round btn-block"
                                    data-toggle="dropdown">Exporter
                                    <b class="caret"></b>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <li class="dropdown-header"></li>
                                    <li>

                                        <a type="submit" (click)="ExporterSema()">CSV/sem</a>
                                        <!--<button type="submit" (click)="ExporterSema()">CSV/sem</button>-->
                                    </li>
                                    <li>
                                        <a type="submit">CSV/mois</a>
                                        <!--<button type="submit">CSV/mois</button>-->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div *ngIf="recherche== true" class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <a type="button" (click)="AddImp()"><i class="material-icons">add</i></a>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th> {{ tableData1.headerRow[1] }}</th>
                                        <th>{{ tableData1.headerRow[2] }}</th>
                                        <th>{{ tableData1.headerRow[3] }}</th>
                                        <th>{{ tableData1.headerRow[4] }} {{this.dateList[0]}}</th>
                                        <th>{{ tableData1.headerRow[5] }} {{this.dateList[1]}}</th>
                                        <th>{{ tableData1.headerRow[6] }} {{this.dateList[2]}}</th>
                                        <th>{{ tableData1.headerRow[7] }} {{this.dateList[3]}}</th>
                                        <th>{{ tableData1.headerRow[8] }} {{this.dateList[4]}}</th>
                                        <th style="color: red;">{{ tableData1.headerRow[9] }}</th>
                                        <th>{{ tableData1.headerRow[10] }}</th>
                                        <th>{{ tableData1.headerRow[11] }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of tableData1.dataRows">

                                        <td class="text-center"> </td>

                                        <td>
                                            {{ getCodeProjet(row.node.detailsImputations.edges)}}
                                        </td>
                                        <td>
                                            {{ getTache(row.node.detailsImputations.edges)}}
                                        </td>
                                        <td> {{ getActivite(row.node.detailsImputations.edges)}}</td>

                                        <ng-container *ngFor="let details of row.node.detailsImputations.edges">

                                            <td> {{ details.node.valeur }} </td>

                                        </ng-container>


                                        <!--<td> {{getTotal(row[0]) }}</td>-->
                                        <td> {{getTotal(row.node.detailsImputations.edges) }}</td>
                                        <td> {{row.node.commentaire}}</td>

                                        <td class=" text-right" style=" border: hidden;">
                                            <a href="javascript:void(0)"
                                                class="btn btn-link btn-danger btn-just-icon remove"><i
                                                    class="material-icons">close</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- ng-form="imputationForm"  -->
                            <form *ngIf="AddClick" #imputationForm="ngForm" class="row">

                                <mat-select placeholder="Code Projet..."
                                    style="margin-left: 35px;width: 100px; border-bottom-color: palevioletred; border-top: transparent ; border-right: transparent; border-left: transparent; "
                                    name="code-projet" ngModel>
                                    <mat-option *ngFor="let cp of codeP" [value]="cp.node.id">
                                        {{ cp.node.libelle }}
                                    </mat-option>
                                </mat-select>
                                <mat-select placeholder="Tache..."
                                    style="margin-left: 35px;width: 100px; border-bottom-color: palevioletred; border-top: transparent ; border-right: transparent; border-left: transparent; "
                                    name="tache" ngModel>
                                    <mat-option *ngFor="let tache of taches " [value]="tache.node.id">
                                        {{ tache.node.libelle }}
                                    </mat-option>
                                </mat-select>
                                <mat-select placeholder="Activite..."
                                    style="margin-left: 35px;width: 100px; border-bottom-color: palevioletred; border-top: transparent ; border-right: transparent; border-left: transparent; "
                                    name="activite" ngModel>
                                    <mat-option *ngFor="let act of activites" [value]="act.node.id">
                                        {{ act.node.libelle }}
                                    </mat-option>
                                </mat-select>

                                <input list="browsersD" placeholder=" 0 "
                                    style="margin-left: 5px;width: 55px; border-bottom-color: palevioletred; border-top: transparent ; border-right: transparent; border-left: transparent; "
                                    name="lun" ngModel>
                                <datalist id="browsersD" placeholder=" 0 ">
                                    <option *ngFor="let i of [1,0.5,0.25]" value=" {{ i }} ">
                                </datalist>

                                <input list="browsersD" placeholder=" 0 "
                                    style="margin-left: 5px;width: 55px;border-bottom-color: palevioletred; border-top: transparent ; border-right: transparent; border-left: transparent;"
                                    name="mar" ngModel>
                                <datalist id="browsersD" placeholder=" 0 ">
                                    <option *ngFor="let i of [1,0.5,0.25]" value="{{ i }}  ">
                                </datalist>

                                <input list="browsersD" placeholder=" 0 "
                                    style="margin-left: 5px;width: 55px; border-bottom-color: palevioletred; border-top: transparent ; border-right: transparent; border-left: transparent;"
                                    name="mer" ngModel>
                                <datalist id="browsersD" placeholder=" 0 ">
                                    <option *ngFor="let i of [1,0.5,0.25]" value="{{ i }} ">
                                </datalist>

                                <input list="browsersD" placeholder=" 0 "
                                    style="margin-left: 5px;width: 55px; border-bottom-color: palevioletred; border-top: transparent ; border-right: transparent; border-left: transparent;"
                                    name="jeu" ngModel>
                                <datalist id="browsersD">
                                    <option *ngFor="let i of [1,0.5,0.25]" value="{{ i }}  ">
                                </datalist>

                                <input list="browsersD" placeholder=" 0 "
                                    style="margin-left: 5px;width: 55px;  border-bottom-color: palevioletred; border-top: transparent ; border-right: transparent; border-left: transparent;"
                                    name="ven" ngModel>
                                <datalist id="browsersD">
                                    <option *ngFor="let i of [1,0.5,0.25]" value="{{ i }}  ">
                                </datalist>

                                <input type="text"
                                    style="margin-left: 5px;width: 25px;  border-bottom-color: palevioletred; border-top: transparent ; border-right: transparent; border-left: transparent;"
                                    disabled>
                                <input type="text"
                                    style="margin-left: 15px;width: 155px; border-bottom-color: palevioletred; border-top: transparent ; border-right: transparent; border-left: transparent;"
                                    placeholder="Commentaire" name="commentaire" ngModel>

                                <div>
                                    <button href="javascript:void(0)" class="btn btn-link btn-just-icon save"
                                        type="submit" (click)="test(imputationForm)"><i
                                            class="material-icons">save</i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>