<div class="wrapper">
  <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-5.jpg">
    <app-side-bar-collab></app-side-bar-collab>
    <div class="sidebar-background" style="background-image: url(assets/img/sidebar-5.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-navbar-cmp></app-navbar-cmp>
    <router-outlet></router-outlet>
    <div *ngIf="!isMap()">
      <app-footer-cmp></app-footer-cmp>
    </div>
  </div>

</div>