<div class="main-content">
    <div class="container-fluid mt-5">
      <div class="row" style="margin-left:60px ;">
        <div class="col-md-11">
          

          <div class="card card-testimonial" *ngFor="let c of collaborateur">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">contacts</i>
              </div>

            </div>
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img" src={{urlImage}}/>
              </a>
            </div>
            <h4 class="card-title">{{c.node.nom}} </h4>
            <h6 class="card-category">Administrateur</h6>
           
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <h5 class="card-description">Code CAPIT</h5>
                      </div>
                    <div class="col-md-6">
                    <h6>{{c.node.codecapit}}</h6>
                    </div>
                </div>
               </div>
              
               <div class="col-md-6 col-sm-6">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <h5 class="card-description">SITE</h5>
                    </div>
                  <div class="col-md-6">
                  <h6>{{c.node.site}}</h6>
                  </div>
              </div>
              
             </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <h5 class="card-description">cjm</h5>
                      </div>
                    <div class="col-md-6">
                    <h6>{{c.node.CJM}}</h6>
                    </div>
                </div>
               </div>
              
               <div class="col-md-6 col-sm-6">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <h5 class="card-description">Adresse Email</h5>
                    </div>
                  <div class="col-md-6">
                  <h6>{{c.node.email}}</h6>
                  </div>
              </div>
              
             </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <h5 class="card-description">Departement</h5>
                      </div>
                    <div  class="col-md-6">
                    <h6>{{c.node.projet.libelle}}</h6>
                    </div>
                </div>
               </div>
              
               <div class="col-md-6 col-sm-6">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <h5 class="card-description">Poste</h5>
                    </div>
                  <div  class="col-md-6">
                  <h6>{{c.node.poste}}</h6>
                  </div>
              </div>
              
             </div>
              </div>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>  
      </div>
    </div>
 </div>
    
  