<div class="main-content">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">contacts</i>
                        </div>
                        <h4 class="card-title">Modifier un collaborateur</h4>
                    </div>
                    <div class="card-body ">
                        <form [formGroup]="formGroup" (submit)="UpdateProcess()">
                            <div class="row">
                                <div class="col-md-6 col-sm-6" style="margin-top: 50px">
                                    <label style="font-size: large; color: rgb(22, 19, 19);">Rôle</label>
                                    <br>
                                    <mat-radio-group formControlName="roles">
                                        <mat-radio-button value="1" checked="{{isCollab == true}}">Collaborateur
                                        </mat-radio-button>
                                        <br>
                                        <mat-radio-button value="2" checked="{{isCollab == false}}">
                                            Administrateur
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail">
<<<<<<< HEAD
                                            <img src="http://localhost:8000/uploads/images/users/{{user.image}}"
                                                style="height: 100px; width: auto;">
=======
                                            <img src="http://localhost:8000/uploads/images/users/{{user.image}}"style="height: 100px; width: auto;">
>>>>>>> dcdd9cd3213f29f630f67a3a69d6595c75aa9df1
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                        <div>
                                            <span class="btn btn-info btn-round btn-file">
                                                <span class="fileinput-new">Choisir une photo</span>
                                                <span class="fileinput-exists">Changer</span>
                                                <input type="file" name="..." formControlName="img" />
                                            </span>
                                            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists"
                                                data-dismiss="fileinput"><i class="fa fa-times"></i> Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nom" type="text" formControlName="Nom">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Addresse E-mail" type="email"
                                            formControlName="email">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Code CAPIT" type="text"
                                            formControlName="codeCAPIT">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Site" type="text" formControlName="Site">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="CJM" type="text" formControlName="CJM">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <mat-form-field>
                                        <mat-select placeholder="projet Name" name="projet"
                                            [formControlName]="'projet'">
                                            <mat-option *ngFor="let p of projets" [value]="p.node.id">
                                                {{ p.node.libelle }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <mat-form-field>
                                        <mat-select placeholder="Poste" name="poste" formControlName="poste">
                                            <mat-option *ngFor="let c of Postes" [value]="c.value">
                                                {{ c.viewValue }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Mot de passe" type="password"
                                            formControlName="password">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Confirmer Mot de passe" type="password"
                                            formControlName="Vpassword">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <button mat-raised-button type="submit" class="btn btn-fill btn-info">Modifier</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>