<div class="main-content">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <a type="submit" (click)="AjouterCollab()"><i class="material-icons">add</i></a>
                        </div>
                        <h4 class="card-title">Collaborateurs</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="datatables" class="table " style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{ tableData1.headerRow[0] }}</th>
                                        <th>{{ tableData1.headerRow[1] }}</th>
                                        <th>{{ tableData1.headerRow[2] }}</th>
                                        <th>{{ tableData1.headerRow[3] }}</th>
                                        <th>{{ tableData1.headerRow[4] }}</th>
                                        <th>{{ tableData1.headerRow[5] }}</th>
                                        <th class="disabled-sorting text-right">{{ tableData1.headerRow[6] }}</th>
                                        <td class="testNone"> none</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of collab">
                                        <td class="text-center">{{c.node.codecapit}}</td>
                                        <td>{{c.node.nom}}</td>
                                        <td>{{c.node.email}}</td>
                                        <td>{{c.node.projet.libelle}}</td>
                                        <td>{{c.node.poste}}</td>
                                        
                                        <ng-container
                                            *ngIf=" c.node.roles[0] === 'ROLE_USER'; then thenTemplate; else elseTemplate">
                                        </ng-container>
                                        <ng-template #thenTemplate>
                                            <td>Collaborateur</td>
                                        </ng-template>
                                        <ng-template #elseTemplate>
                                            <td>Administrateur</td>
                                        </ng-template>


                                        <td class="td-actions text-right">
                                            <button mat-raised-button [routerLink]="['Update']"
                                                [queryParams]="{ id: c.node.id }" type="button"
                                                class="btn btn-success btn-round">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" class="btn btn-danger btn-round delete">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                        <td class="testNone"> {{c.node.id}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>