<div class="main-content">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">contacts</i>
                        </div>
                        <h4 class="card-title">Modifier un projet</h4>
                    </div>
                    <div class="card-body ">
                        <form [formGroup]="formGroup" (submit)="UpdateProcess()">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nom du projet" type="text"
                                            formControlName="libelle">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Description" type="text"
                                            formControlName="description">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="togglebutton">
                                <label>
                                    <input type="checkbox" formControlName="statut">
                                    <span class="toggle"></span>
                                    Statut
                                </label>
                            </div>
                            <div class="card-footer ">
                                <button mat-raised-button type="submit" class="btn btn-fill btn-info">Modifier</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>