<div class="main-content">
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_paste</i>
            </div>
            <p class="card-category">Projets</p>
            <h3 class="card-title">3</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <br>
              <a href="#pablo"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">equalizer</i>
            </div>
            <p class="card-category">Codes projets</p>
            <h3 class="card-title">6</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">timeline</i>
            </div>
            <p class="card-category">Imputations saisies</p>
            <h3 class="card-title">5</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">insert_chart</i>
            </div>
            <p class="card-category">Imputations restantes</p>
            <h3 class="card-title">3</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <br>
              <a href="#pablo"></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-lg-4">
        <div class="card card-chart">
          <div class="card-header card-header-info" data-header-animation="true">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <div class="card-actions">
              <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                <i class="material-icons">build</i> Fix Header!
              </button>
              <button mat-raised-button type="button" class="btn btn-info btn-link" matTooltip="Refresh"
                [matTooltipPosition]="'below'">
                <i class="material-icons">refresh</i>
              </button>
              <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="Change Date"
                [matTooltipPosition]="'below'">
                <i class="material-icons">edit</i>
              </button>
            </div>
            <h4 class="card-title">Imputations par jour</h4>
            <p class="card-category">
              <span class="text-success"><i class="fa fa-long-arrow-up"></i>55%</span>d'un taux augmentations en ce
              jour.
            </p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <br>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-4">
        <div class="card card-chart">
          <div class="card-header card-header-danger" data-header-animation="true">
            <div class="ct-chart" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <div class="card-actions">
              <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                <i class="material-icons">build</i> Fix Header!
              </button>
              <button mat-raised-button type="button" class="btn btn-info btn-link" matTooltip="Refresh"
                [matTooltipPosition]="'below'">
                <i class="material-icons">refresh</i>
              </button>
              <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="Change Date"
                [matTooltipPosition]="'below'">
                <i class="material-icons">edit</i>
              </button>
            </div>
            <h4 class="card-title">Imputations par mois</h4>
            <p class="card-category">
              <span class="text-success"><i class="fa fa-long-arrow-up"></i>40%</span>d'un taux augmentations en ce
              mois.
            </p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <br>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-4">
        <div class="card card-chart">
          <div class="card-header card-header-warning">
            <div id="roundedLineChart" class="ct-chart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Imputations par équipe </h4>
            <p class="card-category">
              NRJ: <span class="text-success">38</span> , DECO:<span class="text-success">17</span> ,CLOE: <span
                class="text-success">28</span>
            </p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <br>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="card card-chart">
          <div class="card-header card-header-icon card-header-danger">

            <h4 class="card-title">membres par équipe</h4>
          </div>
          <div class="card-body">
            <div id="chartPreferences" class="ct-chart"></div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-md-12">
                <h6 class="card-category">Equipes</h6>
              </div>
              <div class="col-md-12">
                <i class="fa fa-circle text-info"></i> NRJ
                <i class="fa fa-circle text-warning"></i> CLOE
                <i class="fa fa-circle text-danger"></i> DECO
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>