<div class="main-content">
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <a type="submit" (click)="AjouterProjet()"><i class="material-icons">add</i></a>
            </div>
            <h4 class="card-title">Projets</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="datatables" class="table " style="width:100%">
                <thead>
                  <tr>
                    <th class="text-center">{{ tableData1.headerRow[0] }}</th>
                    <th>{{ tableData1.headerRow[1] }}</th>
                    <th>{{ tableData1.headerRow[2] }}</th>
                    <th class="disabled-sorting ">{{ tableData1.headerRow[3] }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of projets">
                    <td class="text-center">{{p.node.libelle}}</td>
                    <td>{{p.node.description}}</td>
                    <td>
                      <div *ngIf="p.node.statut == true">
                        <span class="badge badge-success">Terminé</span>
                      </div>
                      <div *ngIf="p.node.statut == false">
                        <span class="badge badge-warning">En cours</span>
                      </div>
                    </td>
                    <td class="td-actions">
                      <button mat-raised-button [routerLink]="['update-projet']" [queryParams]="{ id: p.node.id }"
                        type="button" class="btn btn-success btn-round">
                        <i class="material-icons">edit</i>
                      </button>
                      <button mat-raised-button type="button" class="btn btn-danger btn-round delete">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>